<div class="container-fluid">
        <form action="" method="POST" (submit)="onFormSubmit($event)">
        <div class="modal-header">
            <h4 class="modal-title">New Leave Type</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="leaveType.name" required />
                    </div>
                    <div class="form-group">
                            <label for="">Description</label> 
                             <textarea name="description" [(ngModel)]="leaveType.description" class="form-control" rows="2"></textarea>
                    </div>
              
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-default" (click)="activeModal.close('Cancel click')">Cancel</button>
        </div>
    </form>
</div>
    